<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Contact</title>

	<style>
		@import "style.css";
	</style>

</head>

<body>

	<div id="header">
	</div>

  <div id="content">
      
      <% content_for :content do %>
		    <h1>About</h1>
		    <h2>Bringing real affordable floors to you</h2>
      <% end %>
    
  </div>
  </body>
</html>