<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Contact</title>

	<style>
		@import "style.css";
	</style>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

	<div id="header">
		<a href="index.html"><i class="fas fa-home" ></i></a><!--link to home icon-->

	<nav class="navigation nav navbar-nav navbar-right">
		<input type="text" placeholder="Search.."></li>
		<a href="Shopping cart.html">Shopping cart</a><!--replace-->
		<a href="Login.html">Login</a> <!--replace-->
		<a href="Contact.html">Contact</a>
		<a href="About.html">About</a>
	</nav>
	</div>

	<div id="contact">
		<h1>Contact information</h1>
		<p>For more information regarding the products, please email timberfloors@gmail.com with the product name.</p>
		<p>For issues regarding existing orders, please email timberfloors@gmail.com with the order ID in the subject line. We aim to reply to all emails within 48 hours.</p>
<!--</header> <!--taken from https://www.railstutorial.org/book/filling_in_the_layout-->
</body>