<% provide(:title, "Home") %>

<head>
	<meta charset="utf-8">

	<title>Homepage</title>

	<style>
		@import "style.css";
	</style>
  
</head>

<body>
	
  <div id="header">
  </div>
    
  <div id="content">
      
      <% content_for :content do %>
		    <h1>The Timber Floor Shop</h1>
		    <h2>For the real hardwood feel</h2>
		    <a href="/items">SHOP NOW</a>
      <% end %>
    
  </div>     

</body>
</html>
